@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// .container {
//     width: 100%;
//     padding: 0;
//     margin: 0;
// }

// .container2 {
//     padding: 20px;
// }

a {
    text-decoration: none;
    color: #474747;

    &:hover{
        text-decoration: none;
    }
}
$mainColor:#2980B9;
/* ------home--------- */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    display:flex;
    flex-direction: column; 
    color: #474747;
    // background-color: #F3F3F3;
    background-color: #F3F3F3;
}
.header{
    .topNav{
        background-color: #EBEBEB;
        padding: 8px 2em;
        .left{
            select{
                background-color: #EBEBEB;
                border: none;
                color: gray;
            }
        }
        .right{
            display: flex;
            justify-content: center;
          a{
            color: gray;
            margin: 0 3%;
            font-weight: 500;
            &:hover{
                color: $mainColor;
                transition: ease-in-out 0.2s;
               
            }
            &:active{
                color: $mainColor !important;
            }
            .active{
                color: $mainColor !important;
            }
           
          }
        }
    }
    nav{
        color:#4a4a4a;
        font-size: 1em;
        box-shadow: 2px 9px 15px #e7e4e4;
        background: white;
        padding: 0;
        .navbar-toggler {
            border-color: white;
        }
        img{
            width: 8vw;
        }
        .nav-item {
            font-weight: bold;
        }
        .search-box {
            margin: 5px 0 16px;
            border: solid 4px #4A4A4A;
            display: flex;
            justify-content: center;
            position: relative;
            border-radius: 50px;
            input[type="text"] {
                font-size: 15px;
                width: 35px;
            height: 35px;
            padding: 5px 24px 5px 10px;
                border: none;
                box-sizing: border-box;
                border-radius: 50px;
                transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
                &:hover {
                    outline: none;
                }
                &:hover, &:not(:placeholder-shown) {
                    width: 300px;
                    transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
                    + span {
                        bottom: 13px;
                        right: 10px;
                        transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
                    }
                    + span:after {
                        top: 0;
                        right: 10px;
                        opacity: 1;
                        transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
                    }
                }
            }
            span {
                width: 18px;
            height: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: -13px;
                right: -15px;
                transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
                &:before, &:after {
                    content: '';
                    height: 25px;
                    border-left: solid 4px #4A4A4A;
                    position: absolute;
                    transform: rotate(-45deg);
                }
                &:after {
                    transform: rotate(45deg);
                    opacity: 0;
                    top: -20px;
                    right: -10px;
                    transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out;
                }
            }
        }
        .loginbar{
                display: flex;
                justify-content: center;
            &:hover{
                cursor: pointer;
            }
            a{
                color:#4a4a4a;
                border:1px solid #F3F3F3;
                border-top: none;
                border-bottom: none;
                padding: 1em;
                margin: 0 0 0 2em;
               
            }
            .hoverLink{
                background: white;
                height: 4em;
            }
        }
        .cart{
                display: flex;
                justify-content: center;
            i{
                color:#4a4a4a;
            }
        }
    }
    .loginModal{
        #target {
            height: 400px;
            width: 600px;
            padding: 20px;
            margin: 10px auto;
            border: 1px solid gray;
            border-radius: 4px;
            position: relative;
        }
        .modal {
            position: absolute;
        }
        .modal-right {
            margin: 7.6% 10.8%;
            float: right;
            width: 23%;
        }
        .modal-content{
            border:1px solid #F8F9FA;
            border-top: 0;
            border-radius: 0;
        }
        
    $color: #F3F3F3;
    $color-hover: #2980b9;
    i{
        color:black
    }
    h3{
        margin-top: 7%;
    }
    #container {
        // width: 400px;
        margin: 40px auto;
        background: $color;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
    
  
    .tab-content{
        display: none;
        padding: 15px;
        padding: 2em 2px;
        display: inherit;
        background: #fff;
        padding-bottom: 0;
    }
    
    input[type=text], input[type=password], input[type=email] , input[type=tel] {
        background: #f1f1f1;
        width: 100%;
        padding: 15px 0;
        margin-bottom: 10px;
        border: none;
        text-indent: 60px;
    }
   
    input[type=submit] {
        background: $color-hover;
        border: none;
        padding: 10px 0;
        text-align: center;
        width: 100%;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        &:hover {
            background: $color-hover;
        }
    }
    .input-icon {
        position: absolute;
        margin-top: 17px;
        margin-left: 17px;
        &:after {
            content: "";
            display: block;
            height: 49px;
            width: 1px;
            background: #ddd;
            position: absolute;
            margin-top: -33px;
            left: 30px;
        }
    }
    
    .btn-container {
        margin-top: 10px;
    }
    .btn-icon {
        position: absolute;
    }
       
    .loginLinks{
        a{
            margin: 5px 0;
            display: block;
            margin: 1em 0;
            color: #474747;
        }
    }
    }
}

// ---------register---------
.register{

    $color: #F3F3F3;
    $color-hover: #2980b9;
    i{
        color:black
    }
    h3{
        margin-top: 7%;
    }
    #container {
        // width: 400px;
        margin: 40px auto;
        background: $color;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
    
    ul {
        display: flex;
        &.tabs {
            margin: 0;
            padding: 0;
            list-style: none;
            border-radius: 5px 5px 0 0;
            li {
                background: transparent;
                color: #444;
                display: inline-block;
                padding: 1.5em;
                cursor: pointer;
                flex: 1;
                text-align: center;
                font-weight: 600;
                &.current {
                    background: #fff;
                    color: #444;
                }
            }
        }
    }
    .tab-content{
        display: none;
        padding: 15px;
        &.current {
            padding: 3em;
            display: inherit;
            background: #fff;
        }
    }
    
    input[type=text], input[type=password], input[type=email] , input[type=tel] {
        background: #f1f1f1;
        width: 100%;
        padding: 15px 0;
        margin-bottom: 10px;
        border: none;
        text-indent: 60px;
    }
   
    input[type=submit] {
        background: $color-hover;
        border: none;
        padding: 10px 0;
        text-align: center;
        width: 100%;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        &:hover {
            background: $color-hover;
        }
    }
    .input-icon {
        position: absolute;
        margin-top: 17px;
        margin-left: 17px;
        &:after {
            content: "";
            display: block;
            height: 49px;
            width: 1px;
            background: #ddd;
            position: absolute;
            margin-top: -33px;
            left: 30px;
        }
    }
    
    .btn-container {
        margin-top: 10px;
    }
    .btn-icon {
        position: absolute;
    }
        
}
// ----------about------------
.about{
    h1{
        margin:auto;
        text-align: center;
        color: black;
    }
    p{
        line-height: 2em;
    }
}

// ------contact---------
.contact{
    margin: 2em 0;

    $color: #F3F3F3;
    $color-hover: #2980b9;
    i{
        color:black
    }
    input[type=text], input[type=email] , input[type=tel] ,textarea{
        background: #f1f1f1;
        width: 100%;
        padding: 15px 0;
        margin-bottom: 10px;
        border: none;
        text-indent: 60px;
    }
   
    input[type=submit] {
        background: $color-hover;
        border: none;
        padding: 10px 0;
        text-align: center;
        width: 100%;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        &:hover {
            background: $color-hover;
        }
    }
    .input-icon {
        position: absolute;
        margin-top: 17px;
        margin-left: 17px;
        &:after {
            content: "";
            display: block;
            height: 49px;
            width: 1px;
            background: #ddd;
            position: absolute;
            margin-top: -33px;
            left: 30px;
        }
    }
    
    .btn-container {
        margin-top: 10px;
    }
    .btn-icon {
        position: absolute;
    }
}
.footer{
    bottom: 0;
    margin-top: auto;
    background-color: #FAFAFA;
    .talk {
        .para {
            text-align: left;
        }
        h2{
            color:$mainColor;
            margin: 15px 0;
            font-size: 3em;
        }
        i {
            color: white;
            background: #D7D8E1;
            padding: 11px;
            font-size: 17px;
        }
        .col-12.col-md-7{
            text-align: end;
        }
        .col-md-10{
            p{
                margin: 0 !important;
                padding: 0;
            }
        }
    }
    .footerLinks{
        margin: 3em 0;
        .store{
            display: inherit;
        }
        .vl {
            border-left: 1px solid #E1E1E1;
            height: 195px;
            margin: 0 -2em 0 3em;
          }
        .para{
            text-align: left;
            margin: 2em 1em 1em 3.5em;        }
        h3{
            font-size: 18px;
            font-weight: bold;
            line-height: 2em;
        }
        a{
            display: block;
            &:hover{
                color: $mainColor;
            }
        }
        .social-btn{
            i{
                padding: 11px;
                background-color: #cecaca;
                color: white;
                border-radius: 50px;
                margin: 0 4px;
                &:hover{
                    background-color: $mainColor;
                color: white;
                }
            }
            .fb{
                padding: 11px 18px;
            }
        }
        img{
            width: 30%;
        }
    }
    .copyRights{
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: #4A4A4A;
        color: #F8F9FA;
        p{
            line-height: 3em;
        margin-bottom: 0 !important;
        }
    }
   
}
iframe#video-player{
        width: 100%;
        margin: 2em 0;
}


// @media screen and (max-width: 374px) and (min-width: 320px) {
   
// }
// @media screen and (max-width: 411px) and (min-width: 375px) {
   
//     .fHeight{
//         min-height: 85vh;

//     }

// .leftSide {
//     margin-top: 7em;
// }
// }

@media screen and (max-width: 1023px) and (min-width: 319px) {
    .header .topNav {
        display: none;
    }
    .header nav img {
        width: 76px;
        margin-left:10px

    }
    .header nav .nav-item {
        text-align:center
    }
    }
//     @media screen and (max-width: 1040px) and (min-width: 768px) {
      
//         .container {
//             max-width: 767px !important;
//         }
//         .updateBtn {
//             margin: 0em auto 5em auto;
//         }
//         .leftSide {
//             margin-top: 0em;
//             padding: 9em 0;

//         }
      
//         }



@media screen and (min-width:410px) {
    .off-canvas {
        width: 34.5rem;
        transform: translateX(64.5rem)
    }
    .off-canvas.is-open {
        transform: translateX(7.5rem)
    }
    .off-canvas.is-open~.downloadBlurb, .off-canvas.is-open~.global-header, .off-canvas.is-open~.mobileFooter, .off-canvas.is-open~.mobileHeader, .off-canvas.is-open~.off-canvas-content {
        transform: translateX(-34rem)
    }
}


@media screen and (min-width:768px) {
  
    .off-canvas {
        transform: translateX(-34.5rem);
        width: 34.5rem
    }
    .off-canvas.is-open {
        transform: translateX(0)
    }
    .off-canvas.is-open~.downloadBlurb, .off-canvas.is-open~.global-header, .off-canvas.is-open~.mobileFooter, .off-canvas.is-open~.mobileHeader, .off-canvas.is-open~.off-canvas-content {
        transform: translateX(34.5rem)
    }
    
}
.mobileFooter, .mobileFooter>ul {
    display: flex;
    transition: all ease .2s
}

.mobileFooter {
    height: 52px;
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    z-index: 11;
    justify-content: center;
    align-items: center
}

.mobileFooter>ul {
    margin: -17px 0 0;
    padding: 0;
    justify-content: space-around;
    width: 100%;
    height: 26px
}

.mobileFooter>ul>li {
    width: 20%
}

.mobileFooter>ul>li>a {
    color: #4a4a4a;
    font-size: 22px;
    text-align: center;
    display: block;
    padding-bottom: 10px;
    position: relative;
    height: 41px
}

.mobileFooter>ul>li .icon {
    fill: #CBCBCB;
    stroke: #CBCBCB;
    margin: 0 auto
}

.mobileFooter>ul>li .icon path#myPath {
    stroke: inherit;
    stroke-width: inherit;
    fill: inherit
}

.mobileFooter>ul>li .menuTitle {
    font-family: "Rubik Regular", sans-serif;
    font-size: 9px;
    letter-spacing: -.23px;
    color: #696969;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center
}

.mobileFooter .header-overlay-trigger+.overlay-section form button, .mobileFooter .header-overlay-trigger+.overlay-section>li a {
    font-size: 1.6rem;
    letter-spacing: -.4px;
    font-family: AvenirNextLTPro-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.mobileFooter>ul>li .activestate, .mobileFooter>ul>li.cart.empty:after {
    display: none
}

.mobileFooter>ul>li.cart {
    border-top: none;
    position: relative
}

.mobileFooter>ul>li.cart:after {
    content: "";
    position: absolute;
    right: 50%;
    top: 0;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #FF6262
}

.mobileFooter>ul>li.cart:lang(en):after {
    margin-right: -5px
}

.mobileFooter>ul>li.cart:lang(ar):after {
    margin-right: 0
}

.mobileFooter>ul>li.cart.empty .icon {
    fill: #CBCBCB
}

.mobileFooter>ul>li.cart.empty.active .icon {
    fill: #2f85e9
}

.mobileFooter>ul>li:nth-child(2) {
    margin-left: 0
}

.mobileFooter>ul>li:nth-child(2).active .icon {
    fill: #FF6262
}

.mobileFooter>ul>li:nth-child(3) {
    margin-right: 2px;
    margin-left: 2px
}

.mobileFooter>ul>li.active>a {
    color: #EB3223
}

.mobileFooter>ul>li.active>a a, .mobileFooter>ul>li.active>a h2 {
    color: #4a4a4a
}

.mobileFooter>ul>li.active .icon {
    // fill: #2f85e9;
    // stroke: #2f85e9;
    display: none
}

.mobileFooter>ul>li.active .activestate {
    display: block
}

.mobileFooter .header-overlay-trigger+.overlay-section {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: calc(100vh - 84px);
    padding: 0 24px 0 22px;
    overflow: scroll
}

.mobileFooter .header-overlay-trigger+.overlay-section.quickLoginForm {
    background: #f6f6f6
}

.mobileFooter .header-overlay-trigger+.overlay-section.quickLoginForm .loginBox .cancelView {
    display: none
}

.mobileFooter .header-overlay-trigger+.overlay-section .idealz-form {
    margin: 0 auto;
    width: 100%
}

.mobileFooter .header-overlay-trigger+.overlay-section .idealz-form button {
    -webkit-appearance: none;
    padding: 19px 0;
    text-align: left;
    display: block;
    max-width: inherit
}

.mobileFooter .header-overlay-trigger+.overlay-section>li {
    border-bottom: solid 1px #f1f1f1;
    width: 100%;
    position: relative
}

.mobileFooter .header-overlay-trigger+.overlay-section>li a {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    padding: 14px 0;
    width: 100%;
    color: #4a4a4a
}

.mobileFooter .header-overlay-trigger+.overlay-section>li .cta-register {
    color: #EB3223
}

.mobileFooter .header-overlay-trigger+.overlay-section>li:first-of-type a {
    flex-direction: column
}

.mobileFooter .header-overlay-trigger+.overlay-section form {
    width: 100%
}

.mobileFooter .header-overlay-trigger+.overlay-section form button {
    -webkit-appearance: none;
    padding: 19px 0;
    text-align: left;
    display: block;
    width: 100%;
    color: #4a4a4a
}

.mobileFooter .header-overlay-trigger+.overlay-section .title-name, .mobileFooter .header-overlay-trigger+.overlay-section .title-name:lang(ar), .mobileFooter .header-overlay-trigger+.overlay-section .title-name:lang(en) {
    font-family: AvenirNextLTPro-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.mobileFooter .header-overlay-trigger+.overlay-section .title-name {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -.05rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 60%;
    margin: 0;
    direction: ltr
}

.mobileFooter .header-overlay-trigger+.overlay-section .title-email {
    letter-spacing: -.05rem;
    text-overflow: ellipsis;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 0 4px;
    direction: ltr
}

.mobileFooter .header-overlay-trigger+.overlay-section .title-email:lang(ar), .mobileFooter .header-overlay-trigger+.overlay-section .title-email:lang(en) {
    font-family: AvenirNextLTPro-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.mobileFooter .header-overlay-trigger+.overlay-section .header-profile-container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 20px;
    background: url(../../img/user.png) center top no-repeat;
    background-size: cover;
    overflow: hidden
}

.mobileFooter .header-overlay-trigger+.overlay-section .tier-ipoints {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px
}

.mobileFooter .header-overlay-trigger+.overlay-section .tier-ipoints .tier-label {
    width: 88px;
    height: 19px;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: -.3px;
    text-align: center;
    padding: 5px 0;
    text-transform: uppercase;
    color: #fff;
    border-radius: 20px;
    margin-right: 5px
}

.mobileFooter .header-overlay-trigger+.overlay-section .tier-ipoints .tier-label.new-member {
    background: #ffc200
}

.mobileFooter .header-overlay-trigger+.overlay-section .tier-ipoints .tier-label.advanced {
    background: #00e1af
}

.mobileFooter .header-overlay-trigger+.overlay-section .tier-ipoints .tier-label.premium {
    background: #7458ff
}

.mobileFooter .header-overlay-trigger+.overlay-section .tier-ipoints .tier-label.vip {
    background: #ff4a78
}

.mobileFooter .header-overlay-trigger+.overlay-section .ipoints {
    color: #4a4a4a;
    font-size: 12px;
    letter-spacing: -.5px;
    font-weight: 400
}

.mobileFooter .header-overlay-trigger+.overlay-section .ipoints strong {
    letter-spacing: 0
}

.mobileFooter .header-overlay-trigger+.overlay-section .ipoints strong:lang(ar) {
    font-family: AvenirNextLTPro-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400
}

.mobileFooter .header-overlay-trigger+.overlay-section .tier-next-level strong, .mobileFooter .header-overlay-trigger+.overlay-section .tier-to-next-level strong {
    font-family: AvenirNextLTPro-Demi, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400
}

.mobileFooter .header-overlay-trigger+.overlay-section .tiers-block {
    padding: 14px 0
}

.mobileFooter .header-overlay-trigger+.overlay-section .tier-spent {
    font-size: 12px;
    letter-spacing: -.5px;
    color: #9b9b9b;
    float: left
}

.mobileFooter .header-overlay-trigger+.overlay-section .tier-next-level {
    color: #4a4a4a;
    font-size: 12px;
    letter-spacing: -.5px;
    float: right
}

.mobileFooter .header-overlay-trigger+.overlay-section .tier-indicator {
    height: 6px;
    -webkit-border-radius: 5.5px;
    border-radius: 5.5px;
    background-clip: padding-box;
    background-color: #f5f5f5;
    width: 100%;
    position: relative;
    margin: 5px 0;
    overflow: hidden
}

.mobileFooter .header-overlay-trigger+.overlay-section .tier-indicator span {
    background: #61c652;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 6px
}

.mobileFooter .header-overlay-trigger+.overlay-section .tier-to-next-level {
    font-size: 12px;
    letter-spacing: -.4px;
    color: #4a4a4a
}

.mobileFooter .header-overlay-trigger.active+.overlay-section {
    opacity: 1;
    pointer-events: auto
}

.main-links .newsletter-form {
    opacity: 0;
    display: none
}

@media screen and (min-width:300px) {
    .mobileFooter .header-overlay-trigger+.overlay-section {
        height: 100%
    }
}

@media only screen and (device-width:375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {
    .mobileFooter.scroll {
        height: 74px
    }
    .mobileFooter.scroll ul {
        margin-top: -33px
    }
    .mobileFooter .header-overlay-trigger+.overlay-section {
        height: calc(100% - 52px)
    }
}

@media only screen and (min-device-width:414px) and (max-device-width:736px) {
    .mobileFooter .header-overlay-trigger+.overlay-section {
        height: 90%
    }

}

@media only screen and (device-width:414px) and (device-height:896px) and (-webkit-device-pixel-ratio:2) {
    .mobileFooter .header-overlay-trigger+.overlay-section {
        height: calc(100% - 52px)
    }
}

@media screen and (min-width:300px) {
    ul.social-links li a {
        width: 4.9rem;
        height: 4.9rem
    }
    .mobileFooter {
        display: flex
    }
    .global-footer .mobile-only {
        margin-bottom: 7.7rem;
        display: block
    }
    .main-footer-block .inputs input {
        width: 23.4rem
    }
}

@media screen and (min-width:769px) {
    .mobileFooter {
        display: none
    }
}
@media screen and (max-width:769px) {
    .footer {
        display: none;
    }
    .loginModal{
        display: none;
    }
    // .mapouter{
    //     margin-top: 10px;
    // }
}

// product----------------------
.products
{
    margin-bottom: 2em;
    .col-sm-6{
        padding:3%
    }
}
.product-items-slider {
    padding: 0;
    margin-bottom: 10px;
  }
  .product-items-slider * {
    outline: none;
  }
  .product-items-slider .owl-stage {
    padding: 30px 0;
  }
  .product-items-slider .owl-item:nth-child(2) .product-item {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
  }
  .product-items-slider .product-item {
    box-shadow: 0 5px 21px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border: 1px solid transparent;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .product-items-slider .product-item:hover {
    border: 1px solid #e74c3c;
  }
  .product-items-slider .product-item .product-item-photo {
    padding-top: 20px;
    text-align: center;
    padding: 20px;
  }
  .product-items-slider .product-item .product-item-photo img {
    width: 100%;
  }
  .product-items-slider .product-item .product-item-photo .product-item-title {
    margin-top: 20px;
    font-family: "MontserratBold", Helvetica, Arial, sans-serif;
    font-size: 18px;
    position: relative;
    line-height: 1.389;
    padding: 0 15px;
    margin-bottom: 0;
    font-weight: bold;
    max-height: 100px;
    overflow: hidden;
  }
  .product-items-slider .product-item .article-rating {
    text-align: center;
    padding: 15px;
    color: #ebc30b;
    font-size: 18px;
    width: 100%;
  }
  .product-items-slider .product-item .icon {
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    position: absolute;
    top: -12px;
    right: 20px;
  }
  .product-items-slider .product-item .product-item-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .product-items-slider .product-item .product-item-button-wrapper {
    text-align: center;
    padding: 15px 0;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .product-items-slider .product-item .product-item-button-wrapper .product-item-button {
    position: relative;
    margin: 0 auto;
    text-transform: uppercase;
    color: #fff;
    background-color: $mainColor;
    background-repeat: no-repeat;
    background-size: 235px;
    background-position: center;
    text-align: center;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 12px;
    box-shadow: 0 5px 21px 0 rgba(13, 107, 238, 0.45);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: 0.3s ease-in-out;
    padding: 11px 10px;
    font-weight: 700;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
  }
  .product-items-slider .product-item .product-item-button-wrapper .product-item-button::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    content: "➔";
    font-size: 30px;
    font-family: Arial;
    color: $mainColor;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
  .product-items-slider .product-item .product-item-button-wrapper .product-item-button:hover {
    box-shadow: none;
    color: #0a0a0a;
    background-color: #0a0a0a;
    border-radius: 50px;
  }
  .product-items-slider .product-item .product-item-button-wrapper .product-item-button:hover::before {
    opacity: 1;
    -webkit-transition: all 0.25s ease-in-out 0.1s;
    transition: all 0.25s ease-in-out 0.1s;
  }
  .product-items-slider .product-item .product-item-button-wrapper .product-item-button:hover span, .product-items-slider .product-item .product-item-button-wrapper .product-item-button:hover i {
    opacity: 0;
  }
  
  .product-item.best-choice .icon {
    background-image: url(http://atfulldrive.com/wp-content/uploads/2019/01/choice.png);
  }
  
  @media (max-width: 480px) {
    .product-items-slider .owl-item:nth-child(2) .product-item {
      box-shadow: none;
    }
  }
  
  @media (max-width: 992px) {
    .product-items-slider.owl-carousel .owl-nav button.owl-prev {
      position: absolute;
      top: 45%;
      margin-left: 0;
      display: block !important;
      border: 0;
      background: transparent;
      font-size: 25px;
      color: #666;
  }
  
  .product-items-slider.owl-carousel .owl-nav button.owl-next {
      position: absolute;
      top: 45%;
      right: 0;
      display: block !important;
      border: 0;
      background: transparent;
      font-size: 25px;
      color: #666;
  }
  .owl-prev i, .owl-next i {transform : scale(1,6); color: #ccc;}
  
  }
